nav {
    border: 1px solid black;
    height: 5rem;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo {
    font-size: 1.5rem;
    font-weight: 400;
}

#nav_menu_list {
    display: flex;
    gap: 1rem;
    font-size: .8rem;
    font-weight: 500;
    letter-spacing: .1rem;
}