@media screen and (max-width: 320px) {

    #special_section {
        padding: 6rem 0;
    }

    #section_header {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 2rem;
    }

    .special_menu_container {
        grid-template-columns: 1fr;
        gap: 2rem;
    }

}