#about_experience {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    padding: 6rem 0 0 0;
}

.about_title {
    padding: 2rem 0;
    text-align: center;
}

.about_container {
    height: 50%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-left: 3rem;
    justify-content: center;
}

#about_intro {
    display: flex;
    gap: 2rem;
}

#about_images {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
}

#about_image_one {
    background: url('../assets/LittleLemonPrep.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 25rem;
    width: 20rem;
    z-index: 10;
    position: absolute;
    display: flex;
    bottom: 8 rem;
    right: 10rem;
}

#about_image_two {
    background: url('../assets/LittleLemonChef1.png');
    background-size: cover;
    height: 25rem;
    width: 20rem;
    z-index: 5;
    padding: 5rem 0 0 0;
    position: relative;
    right: 5rem;
    bottom: 5rem;
}