@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Matangi:wght@300..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

/* Body Section */

body {
    font-family: 'Open Sans';
    font-size: 62.5%;
    min-height: 100vh;
    width: 100%;
}

button {
    font-family: 'Open Sans';
}

button:hover {
    cursor: pointer;
}

/* End of Body Section */

/* Navigation Section */

nav {
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 3rem;
    z-index: 5;
    position: absolute;
    width: 100%;
}

.nav_logo {
    height: 3rem;
    width: auto;
}

#mobile_menu_list {
    position: absolute;
    top: 5rem;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6rem 0 0 0;
    gap: 2.5rem;
}

#mobile_menu_list_close {
    display: none;
}

.nav_mobile_menu_items {
    font-size: 1.3rem;
    font-weight: 400;
}

.nav_menu_button {
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
}

.desktop_nav_list {
    display: flex;
    gap: 1.5rem;
}

.desktop_nav_items {
    font-size: .9rem;
}

.mobile_menu_container {
    display: none;
}

.nav_menu_container {
    display: none;
}

/* End of Navigation Section */

section {
    border: 1px solid #000;
    min-height: 100vh;
}

#homepage {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#title {
    font-size: 2rem;
    font-weight: 400;
}

.section_title {
    font-size: 1.75rem;
    font-weight: 400;
}

#welcome_article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
    padding: 3rem 3rem 0 3rem;
}

#article_paragraph {
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 2rem;
}

.reserve_a_table {
    font-size: .9rem;
    font-weight: 500;
    padding: .1rem .2rem;
}

#welcome_images {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Specials Section */

#special_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem 0 0 0;
    min-height: 100vh;
    gap: 8rem;
}

#section_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 65%;
}

.online_order {
    font-size: 1.1rem;
    font-weight: 500;
    padding: .2rem .25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: .1rem;
}

.special_menu_container {
    border: 1px solid #000;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 4rem;
}

.special_cards {
    border-radius: .3rem;
    border: 1.25px solid #000;
    height: 31rem;
    width: 18rem;
    contain: size;
}

.special_image {
    height: 13rem;
    width: 100%;
    display: block;
    object-fit: cover;
}

.menu_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem .1rem 1rem;
}

.menu_item_title,
.menu_item_price {
    font-size: 1.25rem;
    font-weight: 400;
    letter-spacing: .1rem;
}

.description_container {
    padding: 1rem;
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.5rem;
}

.special_cards_control_panel {
    display: flex;
    justify-content: space-between;
    bottom: 0;
    padding: 0 1rem;
}

.special_button {
    font-size: .9rem;
    width: 5rem;
}

/* Testimonial Title */

#testimonial_section {
    border: 1px solid #000;
    padding: 5rem 0 0 0;
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.testimonial_title {
    text-align: center;
}

.testimonial_cards_container {
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.testimonial_cards {
    border: 1px solid #000;
    height: 16rem;
    width: 16rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.testimonial_header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.testimonial_image {
    border-radius: 100%;
    height: 5rem;
    width: auto;
}

.testimonial_person {
    display: flex;
    flex-direction: column;
    line-height: 1.5rem;
}

.testimonial_person {
    display: flex;
    gap: .25rem;
}

.testimonials_title {
    font-size: 1.1rem;
    font-weight: 400;
}

.testimonial_subtitle {
    font-size: 1rem;
    font-weight: 300;
}

.testimonial_rating {
    display: flex;
    justify-content: center;
    padding: 1.2rem 0 1rem 0;
}

.rating {
    display: flex;
    text-align: center;
    font-size: 1.5rem;
    gap: .9rem;
}

.reviews {
    font-size: .8rem;
    line-height: 1.4rem;
}