@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Matangi:wght@300..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Open Sans';
    font-size: 62.5%;
    min-height: 100vh;
    width: 100%;
}

nav {
    border: 1px solid #000;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
}

.nav_logo {
    height: 3rem;
    width: auto;
}

#mobile_menu_list {
    position: absolute;
    top: 5rem;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6rem 0 0 0;
    gap: 2.5rem;
}

#mobile_menu_list_close {
    display: none;
}

.nav_mobile_menu_items {
    font-size: 1.3rem;
    font-weight: 400;
}

.nav_menu_button {
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
}

.desktop_nav_list {
    display: flex;
    gap: 1.5rem;
}

.desktop_nav_items {
    font-size: .9rem;
}

.mobile_menu_container {
    display: none;
}

.nav_menu_container {
    display: none;
}

